extends layout

block content
      .container
        h1 About Us
        p Lorem ipusumLorem ipusumLorem ipusumLorem ipusumLorem ipusumLorem ipusumLorem ipusumLorem ipusumLorem 
        ul
          li Vivamus nec scelerisque
          li Nini mbaya
          li Cras efficitur
        p Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque Quiesque .
        